/* .form-container{
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid;
    padding: 7px;
}

.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.form-group label{
    width: 160px;
}

.radio{
    display: flex;
    margin-bottom: 12px;
    gap: 12px;
}
.radio label{
    width: 140px;
}

 */
